body {
    font-family: 'Kumbh Sans', sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    line-height: 1.5;
}

/* Conference Name Styles */

.Conf-Name {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80vh;
    text-align: center;
    padding-top: 5rem;
    background-image: url(../images/smvdu.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 5px solid #365E32;
}

.Conf-Name h1{
    font-size: 2.4rem;
    background-image: linear-gradient(to top, #D5ED9F 0%, #365E32 100%);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 5px solid #365E32;
    padding: 20px;
}

.Conf-Name h2{
    font-size: 3rem;
    background: linear-gradient(to top, #C84C05 1%, #D4D925 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    border-right: 5px solid #365E32;
    padding: 20px;
}

.Conf-Name h3{
    font-size: 1.4rem;
    background-image: linear-gradient(to top, #D5ED9F 0%, #365E32 100%);
    background-size: 100% 100%;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding: 20px;
    text-align: left;
}

@media (max-width: 768px) {
    .Conf-Name{
        flex-direction: column;
        height: 90vh;
    }

    .Conf-Name h1{
        border: none;
        font-size: 2rem;
    }

    .Conf-Name h2{
        border: none;
        font-size: 2.3rem;
    }

    .Conf-Name h3{
        font-size: 1.3rem;
        text-align: center;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}



/* Conference Image and About section Styles */

.conf {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5rem 1.5rem;
    padding-bottom: 1.4rem;
    /* background-color: #f5f2e6; */
}

.conf-image {
    flex: 2;
    text-align: center;
}

.conf-img {
    max-width: 80%;
    max-height: 80%;
    padding: 20px;
}

.conf-content {
    flex: 2;
    padding: 20px;
    color: #000;
    font-size: 1.08rem;
    font-weight: 500;
}

.conf-content p{
    padding: 10px;
}


@media (max-width: 768px) {
    .conf{
        flex-direction: column;
        padding: 4rem 2rem;
    }

    .conf-img {
        max-width: 90%;
        max-height: 90%;
        padding: 20px;
    }
}



/*Registration button*/


.registration {
    border: none;
    margin: 1rem 0;
    padding: 14px 30px;
    font-size: 19px;
    cursor: pointer;
    border-radius: 2px;
    background-color: #fff;
    color: #964611;
    border: 2px solid #964611;
    font-weight: 700;
    transition: background-color 0.3s;
}

.registration:hover {
    background-color: #d46317;
    color: white;
}



/*Keynote Speakers Styles*/


.keynote-speakers {
    margin-top: 40px;
    text-align: center;
    padding: 2rem;
    background-color: #F4D793;
}

.keynote-speakers h2, .bubbles-section h2, .abs h2{
    font-size: 2.2rem;
    padding-bottom: 2rem;
    text-align: center;
}

.speakers-container {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    overflow-x: auto;
}

.card {
    background: white;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 30px 20px;
    text-align: center;
    min-height: 650px;
}

.card img {
    border-radius: 50%;
    width: 100px;
    height: 100px;
}

.card h3 {
    margin: 10px 0 5px;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.card h4 {
    color: #363535;
    margin: 5px 0;
    font-size: 0.9rem;
    padding-left: 1.7rem;
    padding-right: 1.7rem;
}

.card p {
    font-size: 14px;
    color: #363535;
    text-align: left;
    padding: 2.8rem 2rem;
}


@media (max-width: 768px) {
    .speakers-container{
        flex-direction: column;
    }
    .keynote-speakers{
        padding: 0.5rem;
        padding-top: 1.5rem;
    }
    .card p{
        padding: 2rem 1rem;
    }
}


/* Swiper Container */
.swiper {
    width: 80%;
    padding: 2rem 0;
    margin: auto;
}

/* Each Slide */
.swiper-slide {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Optional: Customize navigation button colors */
.swiper-button-next,
.swiper-button-prev {
    color: #c75407;
}




/* Organizing Committe Styles */

.bubbles-section {
    margin-top: 3rem;
    margin-bottom: 2rem;
    text-align: center;
}

.bubbles-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
}

.bubble {
    color: #000;
    padding: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: transform 0.3s, background-color 0.3s;
    text-align: center;
    overflow: hidden;
}

.bubble-image {
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    object-fit: cover;
}

.bubble-text {
    font-size: 0.8rem;
    text-align: center;
    padding-top: 5px;
}

.bubble:hover {
    transform: scale(1.1);
}


@media (max-width: 768px) {
    .bubbles-container{
        flex-direction: row;
    }
}


/*Call For Abstract Styles*/

.abs{
    padding: 4rem 12rem;
    font-size: 1.08rem;
    background-color: #F4D793;
}

.abs h4{
    padding: 2rem;
    padding-left: 2px;
    font-size: 1.4rem;
}

@media (max-width: 768px) {
    .abs{
        padding: 3rem 2rem;
    }
}


/* Registration Details Styles */

.reg-det {
    margin-top: 40px;
}
.reg-det-head{
    text-align: center;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}

th, td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: center;
}

th {
    background-color: #c75407;
    color: white;
}

tr {
    background-color: #f2f2f2;
    border: 0.5px solid black;
}

tr:hover {
    background-color: #ddd;
}



/* Contact Us Styles */

.contact {
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 60vw;
    margin: 3rem auto;
    background-color: #F4D793;
}

.contact h4 {
    margin-bottom: 10px;
}

.contact p {
    margin: 5px 0;
}

.copy-button {
        width: 20px;
        height: 20px;
        cursor: pointer;
        margin-left: 5px;
        transition: transform 0.3s;
    }
    
.copy-button:hover {
        transform: scale(1.1); 
    }






    .bg {
        animation:slide 3s ease-in-out infinite alternate;
        background-image: linear-gradient(-60deg, #6c3 50%, #FF5F00 50%);
        bottom:0;
        left:-50%;
        opacity:.5;
        position:fixed;
        right:-50%;
        top:0;
        z-index:-1;
      }
      
      .bg2 {
        animation-direction:alternate-reverse;
        animation-duration:4s;
      }
      
      .bg3 {
        animation-duration:5s;
      }
      
      
      @keyframes slide {
        0% {
          transform:translateX(-25%);
        }
        100% {
          transform:translateX(25%);
        }
      }